/* Color Scheme #18206F #17255A #F5E2C8 #D88373 #BD1E1E */
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans:400,700|Fredoka+One|Comfortaa:400,700);
* {
  margin: 0;
  padding: 0;
}
body {

  font-family: 'Comfortaa', cursive;

}
.container-fluid {

margin: 0;
padding: 0;
}

.menuBars {

  font-size: 40px;
  right: 0px;
  top: 5%;
  position: fixed;
  margin-right: 5%;
}

.menuBars:hover {

  text-shadow: -1px 1px 8px #D88373, 1px -1px 8px #fff;
  cursor: pointer;
  color: white;

}

.titleMenu {
display: none;
/*margin-top: 2%;*/
/*margin-left: 40%;*/
font-weight: bold;
width: 100%;
height: 13%;
background-color: #D88373; /*#A40505;*/


}

@media only screen and (max-width: 768px) {
  .titleMenu {
  display: none;
  /*margin-top: -5px;*/
  /*margin-top: 20px;*/
  /*margin-left: 40%;*/
  font-weight: bold;
  width: 100%;
  height: 13%;
  background-color: #BD1E1E;


  }
}

.theTitle {
  text-align: center;
  height: 100px;
  width: 100%;
  position: absolute;
  font-size: 100px; /*can use percentages with font-size */
  top: 50%;
  margin-top: -50px;

}

@media only screen and (max-width: 768px) {
  .theTitle {
    text-align: center;
    height: 100px;
    width: 100%;
    position: absolute;
    font-size: 100px; /*can use percentages with font-size */
    top: 20%;
    margin-top: -50px;

  }
}


.subtext {
  text-align: center;
  height: 150px;
  width: 50%;
  margin-left: 325px;
  position: absolute;
  top: 50%;
  margin-top: 70px;
  overflow: hidden;

}

@media only screen and (max-width: 768px) {
  .subtext {
    text-align: center;
    height: 250px;
    width: 95%;
    margin-left: 12px;
    position: absolute;
    top: 50%;
    margin-top: 25px;
    /*overflow: hidden;*/


  }
}

/* Title Section */
.titleScreen {
  position: relative;
  height: 600px;
  overflow: hidden;
  background-color: #5bc0de; /*#BD1E1E */
}

@media only screen and (max-width: 768px) {
  .titleScreen {
    position: relative;
    height: 700px;
    overflow: hidden;
    background-color: #5bc0de; /*#BD1E1E */
  }
}

/*Communication Section */
.communicationScreen {
  position: relative;
  height: 700px;
  overflow: hidden;
  background-color: #17255A; /*#17255A */
}

@media only screen and (max-width: 768px) {

  .communicationScreen {
    position: relative;
    height: 1100px;
    overflow: hidden;
    background-color: #17255A; /*#17255A */
  }
}

.communicationTitle {
  text-align: center;
  height: 100px;
  width: 80%; /*change width because it is only container of title, not title itself 100% */
  font-size: 7em; /*100px 7em*/
  top: 50%;
  margin-top: +50px;
  color: white;
  margin: 0 auto; /*Centers the div */


}


@media only screen and (max-width: 768px) {

  .communicationTitle {
    text-align: center;
    height: 100px;
    width: 80%; /*change width because it is only container of title, not title itself 100% */
    font-size: 3.2em; /*100px 7em*/
    top: 50%;
    margin-top: 40px;
    color: white;
    /*margin: 0 auto; *//*Centers the div */
    margin-left: 13px;

  }
}

.communicationText {

  height: 430px;
  width: 100%;
  margin-top: +60px;
  background-color: white; /*white */
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .communicationText {

    height: 430px;
    width: 95%;
  /*  margin-top: 60px;*/
    margin: 0 auto;
    background-color: white; /*white */
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.communicationPic {

  height: 300px;
  width: 60%;
  margin-top: +60px;

  /* background-attachment: fixed; makes the periscope effect */

}

@media only screen and (max-width: 768px) {
  .communicationPic {

    height: 300px;
    width: 80%;
    margin-top: 60px;
    margin-left: 35px;

    /* background-attachment: fixed; makes the periscope effect */

  }
}


.communicationButton {
  margin-left: -47px;
  margin-top: -50px;
  -webkit-transition-timing-function: ease-in-out;
  opacity: 0;

}

@media only screen and (max-width: 768px) {

  .communicationButton {
    margin-left: 110px;
    margin-top: 100px;
    opacity: 1;


  }
}

/*People Skills Section */
.peopleScreen {
  position: relative;
  height: 700px;
  overflow: hidden;
  background-color: #F5E2C8; /*#F5E2C8 */
}

@media only screen and (max-width: 768px) {
  .peopleScreen {
    position: relative;
    height: 1025px;
    overflow: hidden;
    background-color: #F5E2C8; /*#F5E2C8 */
  }

}

.people {
  /*position: absolute;*/

  height: 100px;
  width: 90%;
  font-size: 100px;
  top: 50%;
  margin-top: +62px; /* dictates how far from the top the element is */

  margin-right: -100px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);

}

@media only screen and (max-width: 768px) {
  .people {
    /*position: absolute;*/

    height: 100px;
    width: 90%;
    font-size: 4em;
    top: 50%;
    text-align: center;
    margin-top: -5px; /* dictates how far from the top the element is */

    /*margin-right: -100px;*/


  }
}
.skills {
  /*position: absolute;*/

  height: 100px;
  width: 90%;
  font-size: 100px;
  top: 50%;
  margin-top: +75px;

  /*margin-left: -50px;*/
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);

}

@media only screen and (max-width: 768px) {
  .skills {
    /*position: absolute;*/

    height: 100px;
    width: 90%;
    font-size: 4em;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    /*
    margin-top: -110px;

    margin-left: 160px;
*/

  }
}
.triangle {
  position: absolute;
	width: 100%;
	height: 25%;
  /*top: 50%;*/
  /*margin-top: +90px;*/
	border-left: 660px solid transparent; /*left side of triangle, the larger the number, the steeper the angle of the sides */
	border-right:660px solid transparent; /*right side of triangle */
	border-top: 240px solid #D88373; /*#D88373 */ /*bottom side of triangle, the bigger the number, the longer it is */

	font-size: 0;
	line-height: 0;
}

@media only screen and (max-width: 768px) {
  .triangle {
    position: absolute;
  	width: 100%;
  	height: 25%;
    /*top: 50%;*/

    margin-left: -122px;


  	border-left: 300px solid transparent; /*left side of triangle, the larger the number, the steeper the angle of the sides */
  	border-right:300px solid transparent; /*right side of triangle */
  	border-top: 180px solid #D88373; /*#D88373 */ /*bottom side of triangle, the bigger the number, the longer it is */

  	font-size: 0;
  	line-height: 0;
  }
}

.peopleText {

  height: 300px;
  width: 100%;
  margin-top: +60px;
  background-color: white; /*white */
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .peopleText {

    height: 350px;
    width: 90%;
    margin: 0 auto;
    margin-top: -300px;
    text-align: center;
    background-color: white; /*white */
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .leftperson {
    opacity: 0;
  }

  .rightperson {
    margin-left: -30px;
    margin-top: 10px;
  }
}


/*Time Management section */
.timeScreen {
  position: relative;
  height: 700px;
  overflow: hidden;
  background-color: #D88373; /*#D88373 */
}

@media only screen and (max-width: 768px) {
  .timeScreen {
    position: relative;
    height: 700px;
    overflow: hidden;
    background-color: #D88373; /*#D88373 */
  }
}

.circleWindow {
  min-height: 700px;
  margin-top: -50px;
  background-image: url(clock.png);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  /*border-radius: 50%;*/
  background-attachment: fixed;

}

@media only screen and (max-width: 768px) {
  .circleWindow {
    min-height: 700px;
    margin-top: -50px;
    background-image: url(clock.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*border-radius: 50%;*/
    background-attachment: fixed;

  }
}

.timeTitle {
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 100px;
  top: 50%;
  margin-top: +50px;
}

@media only screen and (max-width: 768px) {
  .timeTitle {
    text-align: center;
    height: 100px;
    width: 90%;
    font-size: 4em;
    top: 50%;
    margin-top: +50px;
  }
}

.timeText {

  height: 300px;
  width: 100%;
  margin-top: +60px;
}

@media only screen and (max-width: 768px) {
  .timeText {

    height: 300px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    font-weight: bold;
  }

}


.timeManagementButton {

  text-align: center;
}

@media only screen and (max-width: 768px) {
  .timeManagementButton {
    text-align: center;
    margin-top: 25px;

  }
}

/*Contact Me */
.contactScreen {
  position: relative;
  height: 700px;
  overflow: hidden;
  background-color: #18206F; /*#18206F */
}

@media only screen and (max-width: 768px) {
  .contactScreen {
    position: relative;
    height: 750px;
    overflow: hidden;
    background-color: #18206F; /*#18206F */
  }
}

.contactTitle {
  text-align: center;
  height: 100px;
  width: 100%;
  font-size: 100px;
  top: 50%;
  margin-top: +50px;
  color:white;


}

@media only screen and (max-width: 768px) {
  .contactTitle {
    text-align: center;
    height: 100px;
    width: 100%;
    font-size: 4em;
    top: 50%;
    margin-top: 40px;
    color:white;


  }
}

.contactPic {

  width: 20%;
  height: 10%;
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .contactPic {

    width: 70%;
    height: 70%;
    margin-top: 50px;
  }
}

.name {
  height: 100px;
  width: 100%;
  font-size: 70px;
  color:white;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .name {
    height: 100px;
    width: 100%;
    font-size: 4em;
    color:white;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 768px) {
.contactButton {

  font-size: 2em;

}
}

/*communication.html, timemanagement.html, peopleskills.html css */




.talking {

  height: 500px; /*500px */
  width: 80%;
  margin-left: 50px;

}


@media only screen and (max-width: 768px) {

.talking {
  height: 100%;
  width: 80%;
}

}

.picDiv {
  height: 100%; /*div that contains the picture */
  width: 50%;
}


@media only screen and (max-width: 768px) {


  .picDiv {

    height: 100%; /*div that contains the picture */
    width: 100%;
    text-align: center;
  }

}

.softSkills {
  height: 100px;
  /*width: 100%;*/
  font-size: 100px;
  /*top: 50%;
  margin-top: -50px;
  */
}

@media only screen and (max-width: 768px) {
  .softSkills {
    height: 100px;
    /*width: 100%;*/
    font-size: 17vw;

  }
}

.skillTitle {

  height:100px;
  font-size: 75px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .skillTitle {

    /*width: 100%;*/
    font-size: 10vw;


  }
}


.skillHeader {

  /*position: relative;*/
  width: 100%;
  height: 120px;
  background-color: #D88373; /*#BD1E1E */
}

.topNav {
  margin-top: 100px;
}

@media only screen and (max-width: 768px) {
  .topNav {
    margin-top: -20px;
  }

}

.links {

  margin-top: 200px;
  font-weight: bold;
  padding-right: 60px;

}

@media only screen and (max-width: 768px) {
  .links {


    font-weight: bold;
    padding-right: 10px;

  }

  .links:hover {

    text-shadow: -1px 1px 8px #D88373, 1px -1px 8px #fff;
    color: white;



  }
}

.links:hover {

  text-shadow: -1px 1px 8px #D88373, 1px -1px 8px #fff;
  color: white;



}
.ref {

  color:inherit;
  text-decoration:inherit;
  font-weight: bold;
}
.ref:hover {
  text-shadow: -1px 1px 8px #D88373, 1px -1px 8px #fff;
  text-decoration: none;
  color: white;
}

.modal-dialog {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .modal-dialog {
    width: 90%;
    padding-right: 5px;
    word-wrap: break-word;
  }
}

.rl {
  width: 70%;
  padding-right: 5px;
}

a {

  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover
{
     color:inherit;
     text-decoration:none;


}

.skillImproveContainer {
background-color:#D88373;
height: 700px;

}
@media only screen and (max-width: 768px) {
  .skillImproveContainer {
  background-color:#D88373;
  overflow: hidden;
  height: 1%;

  }
}

.skillText1, .skillText2{

  padding-left: 5%;
  padding-right: 5%;

}
.skillText4 {

  background-color: white;
  /*text-align: center;*/
  height: 400px;
  width: 70%;

  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {

  .skillText4 {

    background-color: white;
    /*text-align: center;*/
    height: 735px;

    width: 90%;
    margin: 0 auto;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

}


.footer1 {
  background-color: #18206F;
  width: 100%;
  height: 200px;
  color: white;

}

@media only screen and (max-width: 768px) {
  .footer1 {
    background-color: #18206F;
    width: 100%;
    /*height: 200px;*/
    color: white;
    min-height: 430px;

  }

}


.footNav {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  font-weight: bold;

}

.footText:hover {

  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
  color: white;
}

.bar {
  height: 10%;
  background-color: #17255A;
}
.iconLine {

  text-align: center;
}

@media only screen and (max-width: 768px) {
  .iconLine {


  }

}

.icons {

  padding-left: 25px;
  padding-right: 35px;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .icons {

    padding-left: 25px;
    padding-right: 35px;
    font-size: 30px;
  }

}


.footContact {
text-align: center;

}

.icons:hover {

  cursor: pointer;
text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}
